
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<!--  <meta http-equiv="refresh" content="50">-->
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
	<meta charset="utf-8"> 
	<title>资源列表页</title>
 <link rel="stylesheet"
	href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script	src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
			    <!--主页头部含有小屏幕时名片，不应使用共有头部-->
			
			<!-- 开始
			<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
		<form method="post" enctype="multipart/form-data" action="http://localhost:8001/fileuplaod">
		 <input type="text" name="url" value="" /><br/>
    <input type="file" name="filename" multiple="multiple"/><br/>
    <input type="submit" value="提交"/>
</form>
		
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
		</div>
	</div>
</div>
			<!-- end -->
			
	
	<div class="container">
	        <div th:replace="header :: header"></div>

</div>
	
	<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
<form action="/server/chakan"  method="GET">

			<table class="table">
				<thead>
					<tr>
						<th>
							编号
						</th>
						<th>
							服务器名称
						</th>
						                    <th>
							闲忙状态
						</th>
						<th>
							服务器使用人
						</th>
						<th>
							品牌
						</th>
						<th>
							归属地
						</th>
												
						<th>
							预占开始时间
						</th>
						<th>
							预占结束时间
						</th>
												<th>
							显卡品牌
						</th>
												<th>
							部门
						</th>
						                        <th>
							健康状态
						</th>
												

					</tr>
				</thead>
				<tbody>
					<tr >
						<td th:text="${server.id}"></td>  
					<td th:text="${server.servername}">Onions</td>
					<td th:text="${server.status}">Onions</td>
					<td th:text="${server.serveruser}">Onions</td> 
					<td th:text="${server.type}">Onions</td>  
					<td th:text="${server.location}">Onions</td>  

					<td th:text="${server.serverstarttime}">Onions</td> 
					<td th:text="${server.serverendtime}">Onions</td>  
					<td th:text="${server.gputype}">Onions</td>  
					<td th:text="${server.gpuuser}">Onions</td>
					<td th:text="${server.healthystatus}">Onions</td> 
			
					</tr>
				</tbody>
			</table>

			
						</form>
			

		</div>
	</div>
</div>
	
	
   <!--引入共有底部
    <div th:replace="footer :: footer"></div>-->
    <!--消息盒子+反馈-->
</body>
</html>