<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!--  <meta http-equiv="refresh" content="50">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta charset="utf-8">
    <title>资源列表页</title>
    <!-- bootstrap 依赖 start-->
    <link rel="stylesheet"
          href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <!--时间格式-->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
          rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.24.0/moment-with-locales.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>


    <!-- bootstrap 依赖 end-->
    <!-- 引入 Bootstrap样式 -->
    <link href="${pageContext.request.contextPath}/resources/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap-select样式 -->
    <link href="${pageContext.request.contextPath}/resources/css/select/bootstrap-select.min.css" rel="stylesheet">

    <!-- jQuery (Bootstrap 依赖于 jQuery) -->
    <script src="${pageContext.request.contextPath}/resources/js/jquery-3.0.0.min.js"></script>
    <br>
    <!-- Bootstrap -->
    <script src="${pageContext.request.contextPath}/resources/js/bootstrap.min.js"></script>

    <!-- Bootstrap-select 控件 -->
    <script src="${pageContext.request.contextPath}/resources/js/select/bootstrap-select.min.js"></script>
    <script src="${pageContext.request.contextPath}/resources/js/select/defaults-zh_CN.min.js"></script>
    <br><br>
    <style>
        .redColor{
            color: red;
        }
        .greenColor{
            color: green;
        }
    </style>
    <script type="text/javascript" >
        function clear(){
            alert();
            document.getElementById("location").value = '';
            document.getElementById("type").value = '';
        }
    </script>
    

</head>
<body>




<div id ="app">
    <div class="container">
        <div th:replace="header :: header"></div>
    </div>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <div class="input-group">
                            <form action="/server/search" method="GET">
                                <span class="input-group-addon">归属地</span>
                                <select class="form-control selectpicker show-tick" data-size="6"
                                        data-live-search="true" id="location" name="location" title="请选择"
                                        value="${location}">
                                    <option  th:selected="${location ==''}"  value="">请选择</option>
                                    <div >and</div>
                                    <option  th:selected="${location =='上海'}"  value="上海">上海</option>
                                    <option  th:selected="${location =='北京'}" value="北京">北京</option>

                                </select>
                                
                           
                              
                                <p></p>
                            
                                <form action="/server/search" method="GET">
                                    <span class="input-group-addon" style="background-color:white;border:none;">and</span>
                                   
                                    
                                    
                                    
                                     <form action="/server/search" method="GET">
                                    <span class="input-group-addon">服务器品牌</span>
                                    <select class="form-control selectpicker show-tick" data-size="6"
                                            data-live-search="true" id="type" name="type" title="请选择" value="${type}">

                                        <option  th:selected="${type ==''}"  value="">请选择</option>
                                        <option th:selected="${type =='dell'}" value="dell">dell</option>
                                        <option th:selected="${type =='浪潮'}" value="浪潮">浪潮</option>

                                    </select>
                                    
                                                                    <form action="/server/search" method="GET">
                                  <a> </a>
                                    <span class="input-group-addon" style="background-color:white;border:none;">and</span>
                                   
                                    
                                    
                                    
                                     <form action="/server/search" method="GET">
                                    <span class="input-group-addon">显卡品牌</span>
                                    <select class="form-control selectpicker show-tick" data-size="6"
                                            data-live-search="true" id="gputype" name="gputype" title="请选择" value="${gputype}">

                                        <option  th:selected="${gputype ==''}"  value="">请选择</option>
                                        <option th:selected="${gputype =='nvd'}" value="nvd">nvd</option>
                                        <option th:selected="${gputype =='amd'}" value="amd">amd</option>
                                        <option th:selected="${gputype =='h3'}" value="h3">h3</option>

                                    </select>
                                   
                          <p></p>
                                   
                                   
                                </form>
                                
                                
                        </div>

                        <button type="submit" class="btn btn-primary">搜索</button>
                       <input type="button" onclick="document.getElementById('location').value = '';document.getElementById('type').value = '';" class="btn btn-primary" value="重置">
                        <input type="hidden" id="isHis" name="isHis" th:value="${isHis}">
                    </div>
                </form>

                <!-- 搜索框 get请求 根据商品名称的关键字进行搜索-->
                <!--
                <form action="/server/search" method="GET" >
                  <input type="text" name="servertype" placeholder="品牌" class="form-control" value="${server.type}">
                  <button class="btn btn-primary">查询</button>
                </form>
                    -->

                <p></p>

<br></br>

                <h4> 服务器总数：<a th:text="${count}"></a>台 </h4>

    
                
                <table class="table ">
                    <thead>
                    <tr>
                        <th>
                            编号
                        </th>
                        <th>
                            服务器名称
                        </th>
                        <th data-field="report_state" data-sortable="true" data-formatter="displaycolor">闲忙状态</th>
                        <th>
                            服务器使用人
                        </th>
                        <th>
                            品牌
                        </th>
                        <th>
                            归属地
                        </th>

                        <th>
                            预占开始时间
                        </th>
                        <th>
                            预占结束时间
                        </th>
                        <th>
                            显卡品牌
                        </th>
                        <th>
                            部门
                        </th>
                        <th>
                            健康状态
                        </th>
                        <th>
                            管理

                    </tr>
                    </thead>


                    <tbody>
                    <tr th:each="server: ${serverlist}">
                        <td th:text="${server.id}"></td>
                        <td th:text="${server.servername}">Onions</td>
                      <td th:text="${server.status}" class="statusName">Onions</td>                  
                     
                    <!--        <td style="color:blue" th:text="${server.status}" ${server.status}=='1'?'使用中':'空闲'>Onions</td>  -->

                      

                        <td th:text="${server.serveruser}">Onions</td>
                        <td th:text="${server.type}">Onions</td>
                        <td th:text="${server.location}">On ions</td>

                        <td th:text="${server.serverstarttime}">Onions</td>
                        <td th:text="${server.serverendtime}">Onions</td>
                        <td th:text="${server.gputype}">Onions</td>
                        <td th:text="${server.gpuuser}">Onions</td>
                        <td th:text="${server.healthystatus}" class="healthystatusName">Onions</td>
                        <td>
                          <a th:href="@{/server/update/(id=${server.id},servername=${server.servername},serveruser=${server.serveruser},type=${server.type},location=${server.location},serverstarttime=${server.serverstarttime},serverendtime=${server.serverendtime},gputype=${server.gputype},gpuuser=${server.gpuuser},healthystatus=${server.healthystatus})}"
                               target="_self" th:if="${isHis} ne 'his'" >编辑</a>
                            <a
                                th:href="@{/server/chakan/(id=${server.id},servername=${server.servername},serveruser=${server.serveruser},type=${server.type},location=${server.location},serverstarttime=${server.serverstarttime},serverendtime=${server.serverendtime},gputype=${server.gputype},gpuuser=${server.gpuuser},healthystatus=${server.healthystatus})}"
                                target="_self">查看</a>
                                <a
                                th:href="@{/server/chakana/(servername=${server.servername})}"
                                target="_self">查看历史</a></td>

                    </tr>
                    
                    </tbody>
                </table>
                
                <br></br>

                <h4> 显卡总数：<a th:text="4"></a>台 </h4>
                <table class="table ">
                    <thead>
                    <tr>
                        <th>
                            编号
                        </th>
                        <th>
                            显卡归属地
                        </th>
                        <th>
                            显卡编码
                        </th>
                        <th>
                            显卡品牌
                        </th>
                        <th>
                            使用人
                        </th>
                        <th>
                            健康状态
                        </th>
                        <th>
                            闲忙状态
                        </th>
                        <th>
                            预占开始时间
                        </th>
                        <th>
                            预占结束时间
                        </th>

                        <th>
                            管理

                    </tr>
                    </thead>


                    <tbody>
                    <tr th:each="gpu: ${serverlist}">
                        <td th:text="1"></td>
                        <td th:text="2">Onions</td>
                        <td th:text="3">Onions</td>
                        <td th:text="4">Onions</td>
                        <td th:text="5">Onions</td>
                        <td th:text="6">Onions</td>
                        <td th:text="7">Onions</td>
                        <td th:text="8">Onions</td>
                        <td th:text="9">Onions</td>

                        <td>
                          <a  >编辑</a>
                            <a
                                >查看</a>
                                <a
                                >查看历史</a></td>
                                 

                    </tr>
                    </tbody>
                </table>
                
                <p>
                </p>
            </div>
            <div class="tab-pane active" id="panel-978340">
                <p>


                    <tbody>
                    <tr>

            </div>
        </div>
    </div>


    </form>
    

    
</div>
</div>
</div>


</div>






<!--引入共有底部
 <div th:replace="footer :: footer"> </div>-->
<!--消息盒子+反馈-->
</body>
<script type="text/javascript">
window.onload=function(){b();c();a();}




function a() { 
	 var picker1 = $('#datetimepicker1').datetimepicker({ 
	 format: 'YYYY-MM-DD', 
	 locale: moment.datetimepicker2,
	 //minDate: '2016-7-1' 
	 }); 
	 var picker2 = $('#datetimepicker2').datetimepicker({ 
	 format: 'YYYY-MM-DD', 
	 locale: moment.locale
	 }); 
	 //动态设置最小值 
	 picker1.on('dp.change', function (e) { 
	 picker2.data('DateTimePicker').minDate(e.date); 
	 }); 
	 //动态设置最大值 
	 picker2.on('dp.change', function (e) { 
	 picker1.data('DateTimePicker').maxDate(e.date); 
	 }); 
	 
	 var date1 = picker1.replace(/-/g,'/');
	 var date2 = picker2.replace(/-/g,'/');
	 var timestamp1 = new Date(date1).getTime();
	 var timestamp2 = new Date(date2).getTime();
	 var r = timestamp1 > timestamp2;

	 if (r)

	 document.write(date1 + ' > ' + date2);

	 else

	 document.write(date1 + ' <= ' + date2);


	 
	

	}
	

function b(){
        $(".statusName").each(function(){
		let text = $(this).text()
        if(text == "使用中") {
            $(this).addClass('redColor')
        }else {
            $(this).addClass('greenColor')
        }
	});

       
}
    
function c(){
        $(".healthystatusName").each(function(){
		let text = $(this).text()
        if(text == "坏") {
            $(this).addClass('redColor')
        }else {
            $(this).addClass('greenColor')
        }
	});

       
}

    
    

</script>


<script type="text/javascript">
	
		


	</script>  


</html>