<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!--  <meta http-equiv="refresh" content="50">-->
    <img src="../img/logo1.png" align="right" />


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=yes">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta charset="utf-8">



    <title>Resource List</title>

        <div class="table-responsive"></div>
    <!-- bootstrap 依赖 start-->
    <link rel="stylesheet"
          href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <!--时间格式-->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
          rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.24.0/moment-with-locales.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>


    <!-- bootstrap 依赖 end-->
    <!-- 引入 Bootstrap样式 -->
    <link href="${pageContext.request.contextPath}/resources/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap-select样式 -->
    <link href="${pageContext.request.contextPath}/resources/css/select/bootstrap-select.min.css" rel="stylesheet">

    <!-- jQuery (Bootstrap 依赖于 jQuery) -->
    <script src="${pageContext.request.contextPath}/resources/js/jquery-3.0.0.min.js"></script>
    <br>
    <!-- Bootstrap -->
    <script src="${pageContext.request.contextPath}/resources/js/bootstrap.min.js"></script>

    <!-- Bootstrap-select 控件 -->
    <script src="${pageContext.request.contextPath}/resources/js/select/bootstrap-select.min.js"></script>
    <script src="${pageContext.request.contextPath}/resources/js/select/defaults-zh_CN.min.js"></script>
    <br><br>
    <style>
        .redColor{
            color: red;
        }
        .greenColor{
            color: green;
        }
    </style>
    <script type="text/javascript" >
        function clear(){
            alert();
            document.getElementById("location").value = '';
            document.getElementById("type").value = '';
        }
    </script>
    

</head>

<p>
</p>


<div color="black" style="text-align:center"><font size="6"> Metax Testing Server/GPU Booking System </font> </div>
<body>




<div id ="app">
    <div class="container">
    <div class="table-responsive">
        <div th:replace="header :: header"></div>
        </div>
    </div>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <div class="input-group">
                            <form action="/server/search" method="GET">
                                <span class="input-group-addon">Server Location</span>
                                <select class="form-control selectpicker show-tick" data-size="6"
                                        data-live-search="true" id="location" name="location" title="Select"
                                        value="${location}">
                                    <option  th:selected="${location ==''}"  value="">Select</option>
                                    <div >and</div>
                                    <option  th:selected="${location =='ShangHai'}"  value="ShangHai">ShangHai</option>
                                    <option  th:selected="${location =='BeiJing'}" value="BeiJing">BeiJing</option>

                                </select>
                                
                           
                              
                                <p></p>
                            
                                <form action="/server/search" method="GET">
                                    <span class="input-group-addon" style="background-color:white;border:none;">and</span>
                                   
                                    
                                    
                                    
                                     <form action="/server/search" method="GET">
                                    <span class="input-group-addon">Server Vendor</span>
                                    <select class="form-control selectpicker show-tick" data-size="6"
                                            data-live-search="true" id="type" name="type" title="Select" value="${type}">

                                        <option  th:selected="${type ==''}"  value="">Select</option>
                                        <option th:selected="${type =='Dell'}" value="Dell">dell</option>
                                        <option th:selected="${type =='Inspur'}" value="Inspur">Inspur</option>
                                        <option th:selected="${type =='H3C'}" value="H3C">H3C</option>

                                    </select>
                                    
                                                                    <form action="/server/search" method="GET">
                                  <a> </a>
                                    <span class="input-group-addon" style="background-color:white;border:none;">and</span>
                                   
                                    
                                    
                                    
                                     <form action="/server/search" method="GET">
                                    <span class="input-group-addon">GPU Vendor</span>
                                    <select class="form-control selectpicker show-tick" data-size="6"
                                            data-live-search="true" id="gputype" name="gputype" title="Select" value="${gputype}">

                                        <option  th:selected="${gputype ==''}"  value="">Select</option>
                                        <option th:selected="${gputype =='NVIDIA'}" value="NVIDIA">NVIDIA</option>
                                        <option th:selected="${gputype =='AMD'}" value="AMD">AMD</option>

                                    </select>
                                   
                          <p></p>
                                   
                                   
                                </form>
                                
                                
                        </div>

                        <button type="submit" class="btn btn-primary">Find</button>
                       <input type="button" onclick="document.getElementById('location').value = '';document.getElementById('type').value = '';document.getElementById('gputype').value = '';" class="btn btn-primary" value="Reset">
                        <input type="hidden" id="isHis" name="isHis" th:value="${isHis}">
                    </div>
                </form>

                <!-- 搜索框 get请求 根据商品名称的关键字进行搜索-->
                <!--
                <form action="/server/search" method="GET" >
                  <input type="text" name="servertype" placeholder="品牌" class="form-control" value="${server.type}">
                  <button class="btn btn-primary">查询</button>
                </form>
                    -->

                <p></p>

<br></br>

                <h4> Server list: <a th:text="${count}"></a> </h4>

    
                
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            Item
                        </th>
                        <th>
                            Server Name
                        </th>
                        <th data-field="report_state" data-sortable="true" data-formatter="displaycolor">Reservation Status</th>
                        <th>
                            Propertyowner
                        </th>
                        <th>
                            Server User
                        </th>
                        <th>
                            Vendor
                        </th>
                        <th>
                            Location
                        </th>

                        <th>
                            Reservation Start
                        </th>
                        <th>
                            Reservation Finish
                        </th>
                        <th>
                            GPU Vendor
                        </th>
                        <th>
                            Server User Dept.
                        </th>
                        <th>
                            Server Healthy Status
                        </th>
                                                <th>
                            Project
                        </th>
                        <th>
                            Details

                    </tr>
                    </thead>


                    <tbody>
                    <tr th:each="server: ${serverlist}">
                        <td th:text="${server.id}"></td>
                        <td th:text="${server.servername}">Onions</td>
                      <td th:text="${server.status}" class="statusName">Onions</td>                  
                     
                    <!--        <td style="color:blue" th:text="${server.status}" ${server.status}=='1'?'使用中':'空闲'>Onions</td>  -->

                      
                        <td th:text="${server.propertyowner}">Onions</td>
                        <td th:text="${server.serveruser}">Onions</td>
                        <td th:text="${server.type}">Onions</td>
                        <td th:text="${server.location}">On ions</td>

                        <td th:text="${server.serverstarttime}">Onions</td>
                        <td th:text="${server.serverendtime}">Onions</td>
                        <td th:text="${server.gputype}">Onions</td>
                        <td th:text="${server.gpuuser}">Onions</td>
                        <td th:text="${server.healthystatus}" class="healthystatusName">Onions</td>
                        <td th:text="${server.project}">Onions</td>
                        <td>
       <!--                    <a th:href="@{/server/update/(id=${server.id},servername=${server.servername},serveruser=${server.serveruser},type=${server.type},location=${server.location},serverstarttime=${server.serverstarttime},serverendtime=${server.serverendtime},gputype=${server.gputype},gpuuser=${server.gpuuser},healthystatus=${server.healthystatus})}"
                               target="_self" th:if="${isHis} ne 'his'" >Edit</a> --> 
                            <a
                                th:href="@{/server/chakan/(id=${server.id},servername=${server.servername},serveruser=${server.serveruser},type=${server.type},location=${server.location},serverstarttime=${server.serverstarttime},serverendtime=${server.serverendtime},gputype=${server.gputype},gpuuser=${server.gpuuser},healthystatus=${server.healthystatus})}"
                                target="_self">Recent Reservation</a>
                                <a
                                th:href="@{/server/chakana/(servername=${server.servername})}"
                                target="_self">Reservation History</a></td>

                    </tr>
                    
                    </tbody>
                </table>
                
                <br></br>
    <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <div class="input-group">
                            <form action="/server/search" method="GET">
                                <span class="input-group-addon">GPU Location</span>
                                <select class="form-control selectpicker show-tick" data-size="6"
                                        data-live-search="true" id="gpulocation" name="gpulocation" title="Select"
                                        value="${gpulocation}">
                                    <option  th:selected="${gpulocation ==''}"  value="">Select</option>
                                    <div >and</div>
                                    <option  th:selected="${gpulocation =='ShangHai'}"  value="ShangHai">ShangHai</option>
                                    <option  th:selected="${gpulocation =='BeiJing'}" value="BeiJing">BeiJing</option>

                                </select>
                                
                           
                              
                                <p></p>
                            
                               
                                    
                                                                    <form action="/server/search" method="GET">
                                  <a> </a>
                                    <span class="input-group-addon" style="background-color:white;border:none;">and</span>
                                   
                                    
                                    
                                    
                                     <form action="/server/search" method="GET">
                                    <span class="input-group-addon">GPU Vendor</span>
                                    <select class="form-control selectpicker show-tick" data-size="6"
                                            data-live-search="true" id="gputype" name="gputype" title="Select" value="${gputype}">

                                        <option  th:selected="${gputype ==''}"  value="">Select</option>
                                        <option th:selected="${gputype =='NVIDIA'}" value="NVIDIA">NVIDIA</option>
                                        <option th:selected="${gputype =='AMD'}" value="AMD">AMD</option>


                                    </select>
                                   
                          <p></p>
                                   
                                   
                                </form>
                                
                                
                        </div>

                        <button type="submit" class="btn btn-primary">Find</button>
                       <input type="button" onclick="document.getElementById('gpulocation').value = '';document.getElementById('gputype').value = '';" class="btn btn-primary" value="Reset">
                        <input type="hidden" id="isHis" name="isHis" th:value="${isHis}">
                    </div>
                </form>     
                
                <p></p>

<br></br>
                <h4> GPU List: <a th:text="${countgpu}"></a>  </h4>
                <table class="table ">
                    <thead>
                    <tr>
                        <th>
                            Item
                        </th>
                        <th>
                            GPU Location
                        </th>
                        <th>
                            GPU SN
                        </th>
                        <th>
                            GPU Vendor
                        </th>
                        <th>
                            Propertyowner
                        </th> 
                        <th>
                            GPU User
                        </th>
                        <th>
                            GPU Healthy Status
                        </th>
                        <th>
                            Reservation Status
                        </th>
                        <th>
                            Reservation Start
                        </th>
                        <th>
                            Reservation Finish
                        </th>
                         <th>
                            Project
                        </th>

                        <th>
                            Details

                    </tr>
                    </thead>


                    <tbody>
                    <tr th:each="gpu: ${gpulist}">
                        <td th:text="${gpu.id}"></td>
                        <td th:text="${gpu.gpulocation}">Onions</td>
                        <td th:text="${gpu.gpunm}">Onions</td>
                        <td th:text="${gpu.gputype}">Onions</td>
                        <td th:text="${gpu.propertyowner}">Onions</td>
                        <td th:text="${gpu.gpuuser}">Onions</td>
                        <td th:text="${gpu.healthystatus}" class="gpuhealthystatusName">Onions</td>
                        <td th:text="${gpu.gpustatus}" class="gpustatusName">Onions</td>
                        <td th:text="${gpu.gpustarttime}">Onions</td>
                        <td th:text="${gpu.gpuendtime}">Onions</td>
                        <td th:text="${gpu.project}">Onions</td>
                        <td>
                        <!--    <a th:href="@{/server/update1/(id=${gpu.id},gpulocation=${gpu.gpulocation},gpunm=${gpu.gpunm},gputype=${gpu.gputype},gpuuser=${gpu.gpuuser},healthystatus=${gpu.healthystatus},gpustatus=${gpu.gpustatus},gpustarttime=${gpu.gpustarttime},gpuendtime=${gpu.gpuendtime})}"
                               target="_self" th:if="${isHis} ne 'his'" >Edit</a>   -->
                            <a
                                th:href="@{/server/chakangpu/(id=${gpu.id},gpulocation=${gpu.gpulocation},gpunm=${gpu.gpunm},gputype=${gpu.gputype},gpuuser=${gpu.gpuuser},healthystatus=${gpu.healthystatus},gpustatus=${gpu.gpustatus},gpustarttime=${gpu.gpustarttime},gpuendtime=${gpu.gpuendtime})}"
                                target="_self">Recent Reservation</a>
                                <a
                                th:href="@{/server/chakanagpu/(gpunm=${gpu.gpunm})}"
                                target="_self">Reservation History</a></td>

                       

                    </tr>
                    </tbody>
                </table>
                
                <p>
                </p>
            </div>
            <div class="tab-pane active" id="panel-978340">
                <p>


                    <tbody>
                    <tr>

            </div>
        </div>
    </div>


    </form>
    

    
</div>
</div>
</div>


</div>






<!--引入共有底部
 <div th:replace="footer :: footer"> </div>-->
<!--消息盒子+反馈-->
</body>
<script type="text/javascript">
window.onload=function(){b();c();d();e();a();}




function a() { 
	 var picker1 = $('#datetimepicker1').datetimepicker({ 
	 format: 'YYYY-MM-DD', 
	 locale: moment.datetimepicker2,
	 //minDate: '2016-7-1' 
	 }); 
	 var picker2 = $('#datetimepicker2').datetimepicker({ 
	 format: 'YYYY-MM-DD', 
	 locale: moment.locale
	 }); 
	 //动态设置最小值 
	 picker1.on('dp.change', function (e) { 
	 picker2.data('DateTimePicker').minDate(e.date); 
	 }); 
	 //动态设置最大值 
	 picker2.on('dp.change', function (e) { 
	 picker1.data('DateTimePicker').maxDate(e.date); 
	 }); 
	 
	 var date1 = picker1.replace(/-/g,'/');
	 var date2 = picker2.replace(/-/g,'/');
	 var timestamp1 = new Date(date1).getTime();
	 var timestamp2 = new Date(date2).getTime();
	 var r = timestamp1 > timestamp2;

	 if (r)

	 document.write(date1 + ' > ' + date2);

	 else

	 document.write(date1 + ' <= ' + date2);


	 
	

	}
	

function b(){
        $(".statusName").each(function(){
		let text = $(this).text()
        if(text == "In-use") {
            $(this).addClass('redColor')
        }else {
            $(this).addClass('greenColor')
        }
	});

       
}
    
function c(){
        $(".healthystatusName").each(function(){
		let text = $(this).text()
        if(text == "Damaged") {
            $(this).addClass('redColor')
        }else {
            $(this).addClass('greenColor')
        }
	});

       
}

function d(){
    $(".gpuhealthystatusName").each(function(){
	let text = $(this).text()
    if(text == "Damaged") {
        $(this).addClass('redColor')
    }else {
        $(this).addClass('greenColor')
    }
});

   
}
function e(){
    $(".gpustatusName").each(function(){
	let text = $(this).text()
    if(text == "In-use") {
        $(this).addClass('redColor')
    }else {
        $(this).addClass('greenColor')
    }
});

   
}  
    

</script>


<script type="text/javascript">
	
		


	</script>  


</html>