
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<!--  <meta http-equiv="refresh" content="50">-->
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
	<meta charset="utf-8"> 
	<title>资源列表页</title>
	<!-- bootstrap 依赖 start-->
 <link rel="stylesheet"
	href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script	src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<!--时间格式-->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.24.0/moment-with-locales.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>



	<!-- bootstrap 依赖 end-->
 <!-- 引入 Bootstrap样式 -->
      <link href="${pageContext.request.contextPath}/resources/css/bootstrap.min.css" rel="stylesheet">
     <!-- bootstrap-select样式 -->
      <link href="${pageContext.request.contextPath}/resources/css/select/bootstrap-select.min.css" rel="stylesheet">
 
     <!-- jQuery (Bootstrap 依赖于 jQuery) -->
      <script src="${pageContext.request.contextPath}/resources/js/jquery-3.0.0.min.js"></script><br>
     <!-- Bootstrap -->
       <script src="${pageContext.request.contextPath}/resources/js/bootstrap.min.js"></script>
 
     <!-- Bootstrap-select 控件 -->
       <script src="${pageContext.request.contextPath}/resources/js/select/bootstrap-select.min.js"></script>
       <script src="${pageContext.request.contextPath}/resources/js/select/defaults-zh_CN.min.js"></script><br><br>

</head>
<body>
			    <!--主页头部含有小屏幕时名片，不应使用共有头部-->
			
			<!-- 开始
			<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
		<form method="post" enctype="multipart/form-data" action="http://localhost:8001/fileuplaod">
		 <input type="text" name="url" value="" /><br/>
    <input type="file" name="filename" multiple="multiple"/><br/>
    <input type="submit" value="提交"/>
</form>
		
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
		</div>
	</div>
</div>
			<!-- end -->
			



	
<div class="container">
	     <div th:replace="header :: header"></div>

</div>


	
	<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
		
	
	
	<!--	<div class="container">
<div class="input-group">
<input name="key" autocomplete="off" type="text" class="form-control" placeholder="输入要搜索的服务器名称或显卡编号" ><span class="input-group-addon btn btn-primary">搜索</span>
</div>  
</div>  -->


	
	


<form class="navbar-form navbar-left" role="search">

   <div class="form-group">    
       <input type="text" class="form-control" placeholder="请输入要搜索的服务器名">
       <input type="text" class="form-control" placeholder="请输入服务器厂商">
       <button type="submit" class="btn btn-default">搜索</button>     
       <button type="submit" class="btn btn-default">重置</button>
              <p>
       
       </p> 
       
       <input type="text" class="form-control" placeholder="请输入要搜索的显卡编号">
              <input type="text" class="form-control" placeholder="请输入显卡厂商">
       <button type="submit" class="btn btn-default">搜索</button>     
       <button type="submit" class="btn btn-default">重置</button>
       <p>
 
       </p>  
              <p>
      <div class="row">
    <div class='col-sm-6'>

        <div class="form-group">

            <label>开始日期：</label>

            <!--指定 date标记-->

            <div class='input-group date' id='datetimepicker1'>

                <input type='text' class="form-control" />

                <span class="input-group-addon">

                    <span class="glyphicon glyphicon-calendar"></span>

                </span>

            </div>

        </div>
        <div class="form-group">

            <label>结束日期：</label>

            <!--指定 date标记-->

            <div class='input-group date' id='datetimepicker2'>

                <input type='text' class="form-control" />

                <span class="input-group-addon">

                    <span class="glyphicon glyphicon-calendar"></span>

                </span>

            </div>

        </div>

    </div> 
    
 <script type="text/javascript">


    $(function () {

        $('#datetimepicker1').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn'),


        });

        $('#datetimepicker2').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')

        });

    });


</script>
       </p>      

       </div>
       <p> </p>
   
			<div class="tabbable" id="tabs-880569">
				<ul class="nav nav-tabs">
					<li>
						 <a href="#panel-331802" data-toggle="tab">服务器列表</a>
					</li>
					<li class="active">
						 <a href="#panel-978340" data-toggle="tab">显卡列表</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane" id="panel-331802">
						<p>
<h4>	服务器总数：<a th:text="${count}" ></a>台  </h4>
			<table class="table ">
				<thead>
					<tr>
						<th>
							编号
						</th>
						<th>
							服务器名称
						</th>
						<th>
							服务器使用人
						</th>
						<th>
							品牌
						</th>
						<th>
							归属地
						</th>
												<th>
							服务器预占时间
						</th>
												<th>
							显卡品牌
						</th>
												<th>
							显卡使用人
						</th>
						                        <th>
							健康状态
						</th>
												<th>
							管理

					</tr>
				</thead>
												
				
				<tbody>
					<tr th:each="server: ${serverlist}">
					<td th:text="${server.id}"></td>  
					<td th:text="${server.servername}">Onions</td> 
					<td th:text="${server.serveruser}">Onions</td> 
					<td th:text="${server.type}">Onions</td>  
					<td th:text="${server.location}">Onions</td>  
					<td th:text="${server.serverreservetime}">Onions</td> 
					<td th:text="${server.gputype}">Onions</td>  
					<td th:text="${server.gpuuser}">Onions</td>
					<td th:text="${server.healthystatus}">Onions</td>  
                    <td><a th:href="@{/server/update/(id=${server.id},servername=${server.servername},serveruser=${server.serveruser},type=${server.type},location=${server.location},serverreservetime=${server.serverreservetime},gputype=${server.gputype},gpuuser=${server.gpuuser},healthystatus=${server.healthystatus})}" target="_self">编辑</a>  <a>  </a>&nbsp; <a>  </a>    <a th:href="@{/server/chakan/(id=${server.id},servername=${server.servername},serveruser=${server.serveruser},type=${server.type},location=${server.location},serverreservetime=${server.serverreservetime},gputype=${server.gputype},gpuuser=${server.gpuuser},healthystatus=${server.healthystatus})}" target="_self">查看</a></td>
					
					</tr>
				</tbody>
			</table>
						<p>
						</p>
					</div>
					<div class="tab-pane active" id="panel-978340">
						<p>
			<h4>	显卡总数：<a >1</a>张  </h4>
			<table class="table ">
				<thead>
					<tr>
											<th>
						    编号
						</th>
						<th>
						    归属地
						</th>
						<th>
							显卡编号
						</th>
						<th>
							显卡品牌
						</th>
						<th>
							显卡使用人
						</th>
						<th>
							健康状态
						</th>
												<th>
							预占时间
						</th>
												<th>
							管理

					</tr>
				</thead>
												
				
				<tbody>
				<tr>
	<!--				<tr th:each="gpu: ${gpulist}">    -->
					<td >1</td>  
					<td >北京</td> 
					<td >123456</td> 
					<td >NVD</td>  
					<td >吴超</td>  
					<td >好</td>  
					<td >2021-11</td>
                    <td><a>编辑</a> <a>  </a> <a>查看</a></td>
					
					</tr>
				</tbody>
			</table>
						<p></p>
					</div>
				</div>
			</div>


	
	
	
	

	
		


			</form>
		</div>
	</div>
</div>
	
	
   <!--引入共有底部
    <div th:replace="footer :: footer"> </div>-->
    <!--消息盒子+反馈-->
</body>
</html>