
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<!--  <meta http-equiv="refresh" content="50">-->
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
	<meta charset="utf-8"> 
	<title>资源列表页</title>
 <link rel="stylesheet"
	href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script	src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--  <meta http-equiv="refresh" content="50">-->
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
	<meta charset="utf-8"> 
	<title>资源列表页</title>
	<!-- bootstrap 依赖 start-->
 <link rel="stylesheet"
	href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script	src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<!--时间格式-->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.24.0/moment-with-locales.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>



	<!-- bootstrap 依赖 end-->
 <!-- 引入 Bootstrap样式 -->
      <link href="${pageContext.request.contextPath}/resources/css/bootstrap.min.css" rel="stylesheet">
     <!-- bootstrap-select样式 -->
      <link href="${pageContext.request.contextPath}/resources/css/select/bootstrap-select.min.css" rel="stylesheet">
 
     <!-- jQuery (Bootstrap 依赖于 jQuery) -->
      <script src="${pageContext.request.contextPath}/resources/js/jquery-3.0.0.min.js"></script><br>
     <!-- Bootstrap -->
       <script src="${pageContext.request.contextPath}/resources/js/bootstrap.min.js"></script>
 
     <!-- Bootstrap-select 控件 -->
       <script src="${pageContext.request.contextPath}/resources/js/select/bootstrap-select.min.js"></script>
       <script src="${pageContext.request.contextPath}/resources/js/select/defaults-zh_CN.min.js"></script><br><br>

</head>
<body>
			    <!--主页头部含有小屏幕时名片，不应使用共有头部-->
			
			<!-- 开始
			<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
		<form method="post" enctype="multipart/form-data" action="http://localhost:8001/fileuplaod">
		 <input type="text" name="url" value="" /><br/>
    <input type="file" name="filename" multiple="multiple"/><br/>
    <input type="submit" value="提交"/>
</form>
		
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
		</div>
	</div>
</div>
			<!-- end -->
			
	
	<div class="container">
	        <div th:replace="header :: header"></div>

</div>
	
	<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
<form action="/server/search"  method="GET">

			<table class="table">
				<thead>
					<tr>
						<th>
							服务器编号
						</th>
						<th>
							名称
						</th>
						<th>
							服务器使用人
						</th>
						<th>
							品牌
						</th>
						<th>
							归属地
						</th>
												<th>
							服务器预占时间
						</th>
												<th>
							显卡类型
						</th>
												<th>
							显卡使用人
						</th>
						                        <th>
							状态
						</th>
												

					</tr>
				</thead>
				<tbody>
					<tr >
						<td ><input type="text" class="form-control" id="id"  name="id" th:value="${server.id}"
				   placeholder="自动生成"></td>   
					<td ><input type="text" class="form-control" id="servername"  name="servername" th:value="${server.servername}"
				   placeholder="请输入名称"></td>  
				   <td ><input type="text" class="form-control" id="serveruser"  name="serveruser"  th:value="${server.serveruser}"
				   placeholder="请输入服务器使用人"></td>  
					<td ><input type="text" class="form-control" id="type"  name="type"  th:value="${server.type}"
				   placeholder="请输入品牌"></td>  
					<td ><input type="text" class="form-control" id="location"  name="location"  th:value="${server.location}"
				   placeholder="请输入归属地"></td> 
				   <td ><input type="text" class="form-control" id="serverreservetime"  name="serverreservetime"  th:value="${server.serverreservetime}"
				   placeholder="请输入服务器预占时间"></td>  
					<td ><input type="text" class="form-control" id="gputype"  name="gputype"  th:value="${server.gputype}"
				   placeholder="请输入显卡类型"></td>  
				   	<td ><input type="text" class="form-control" id="gpuuser"  name="gpuuser"  th:value="${server.gpuuser}"
				   placeholder="请输入使用人"></td>  
				   
				   		   	<td ><input type="text" class="form-control" id="healthystatus"  name="healthystatus"  th:value="${server.healthystatus}"
				   placeholder="健康状态"></td>  
			
					</tr>
				</tbody>
			</table>

			
						</form>
			

		</div>
	</div>
</div>
	
	
   <!--引入共有底部
    <div th:replace="footer :: footer"></div>-->
    <!--消息盒子+反馈-->
</body>
</html>